
body {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: #363636;
}

code {
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #369;
    text-decoration: underline;
}

/* Member registration styles */
span.invalid {
    padding-left: 3px;
    color: red;
}

span.success {
   padding-left: 3px;
   color: green;
}
.ui-block-a {
	width: 90%;
}
